In [ ]:
lst = os.listdir('ray_tune/tune_SRL_POS_20_24_23-04-2023_00-21-33/')
lst.str.startswith['my_prefix']
[l for l in lst if 'my_prefix' in l][-1]

In [2]:
import os
import pandas as pd
import pickle as pkl

In [37]:
experiment_types = [name for name in os.listdir(f'ray_tune/exps/')]

result_table=pd.DataFrame(columns=['experiment_type',
                                    'product_type',
                                    'loss_type',
                                    'model_pred_revenue',
                                    'naive_pred_revenue',
                                    #'pred_len',
                                    'trainable_name',
                                    'time_stamp'])
    # experiment_type='informer_linex_loss'
    
for experiment_type in experiment_types:

    lst = os.listdir(f'ray_tune/exps/{experiment_type}')
    for product in lst:
        
        if 'xgb' in experiment_type:
            product_type = '_'.join(product.split('_')[3:6])
        else:
            product_type = '_'.join(product.split('_')[2:5])

        # trainable_name=[l for l in os.listdir(f'ray_tune/exps/{experiment_type}/{product}') if 'my_prefix' in l][0]
        
        trainable_names=[l for l in os.listdir(f'ray_tune/exps/{experiment_type}/{product}') if 'my_prefix' in l]
        
        for trainable_name in trainable_names:
            result_dir = f'ray_tune/exps/{experiment_type}/{product}/{trainable_name}'
            with open(f'{result_dir}/processed_result.pickle', 'rb') as f:
                result = pkl.load(f)
                
            time_stamp='_'.join(lst[0].split('_')[-2:])
            row = [experiment_type, product_type, result.args.loss, result.predict_revenue(result.pred), 
                result.predict_revenue(result.pred_naive),
                #result.pred_len, 
                trainable_name,
                time_stamp]
            
            result_table.loc[len(result_table)] = row
            
        
    # print(f'{result.predict_revenue(result.pred_naive)=}')
    # print(f'{result.predict_revenue(result.pred)=}')
    # print(f'{result.pred_len=}')

In [34]:
idx = result_table.groupby(['experiment_type', 'product_type'])['model_pred_revenue'].transform(max) == result_table['model_pred_revenue']

In [35]:
result = result_table[idx].sort_values(by=['product_type', 'experiment_type'])

In [28]:
result_table = result_table.groupby(by=['experiment_type', 'product_type'], as_index=False).max('model_pred_revenue').sort_values(by=['product_type', 'experiment_type'])

In [10]:
result_table.sort_values(by=['product_type', 'experiment_type'])

,experiment_type,product_type,loss_type,model_pred_revenue,naive_pred_revenue,time_stamp
0,linex,NEG_00_04,linex,1558.55,1261.16,14-05-2023_19-50-10
1,linex,NEG_00_04,linex,1796.44,1261.16,14-05-2023_19-50-10
12,linlin,NEG_00_04,linlin,1696.52,1261.16,14-05-2023_12-45-51
13,linlin,NEG_00_04,linlin,374.04,1261.16,14-05-2023_12-45-51
24,rmse,NEG_00_04,rmse,1563.04,1261.16,15-05-2023_10-44-05
25,rmse,NEG_00_04,rmse,1289.72,1261.16,15-05-2023_10-44-05
35,w_rmse,NEG_00_04,w_rmse,1524.10,1261.16,15-05-2023_03-10-00
36,w_rmse,NEG_00_04,w_rmse,1884.37,1261.16,15-05-2023_03-10-00
2,linex,NEG_04_08,linex,1229.84,938.48,14-05-2023_19-50-10
3,linex,NEG_04_08,linex,1497.29,938.48,14-05-2023_19-50-10
14,linlin,NEG_04_08,linlin,1412.48,938.48,14-05-2023_12-45-51
15,linlin,NEG_04_08,linlin,265.06,938.48,14-05-2023_12-45-51
26,rmse,NEG_04_08,rmse,976.96,938.48,15-05-2023_10-44-05
27,rmse,NEG_04_08,rmse,1163.38,938.48,15-05-2023_10-44-05
37,w_rmse,NEG_04_08,w_rmse,1560.90,938.48,15-05-2023_03-10-00
4,linex,NEG_08_12,linex,2926.05,1590.52,14-05-2023_19-50-10
5,linex,NEG_08_12,linex,2598.80,1590.52,14-05-2023_19-50-10
16,linlin,NEG_08_12,linlin,637.37,1590.52,14-05-2023_12-45-51
17,linlin,NEG_08_12,linlin,2886.83,1590.52,14-05-2023_12-45-51
28,rmse,NEG_08_12,rmse,2477.98,1590.52,15-05-2023_10-44-05
29,rmse,NEG_08_12,rmse,1828.33,1590.52,15-05-2023_10-44-05
38,w_rmse,NEG_08_12,w_rmse,2772.23,1590.52,15-05-2023_03-10-00
39,w_rmse,NEG_08_12,w_rmse,2359.68,1590.52,15-05-2023_03-10-00
6,linex,NEG_12_16,linex,5189.23,4828.76,14-05-2023_19-50-10
7,linex,NEG_12_16,linex,6292.67,4828.76,14-05-2023_19-50-10
18,linlin,NEG_12_16,linlin,6003.53,4828.76,14-05-2023_12-45-51
19,linlin,NEG_12_16,linlin,2357.71,4828.76,14-05-2023_12-45-51
30,rmse,NEG_12_16,rmse,5100.26,4828.76,15-05-2023_10-44-05
31,rmse,NEG_12_16,rmse,4900.59,4828.76,15-05-2023_10-44-05
40,w_rmse,NEG_12_16,w_rmse,6159.38,4828.76,15-05-2023_03-10-00
41,w_rmse,NEG_12_16,w_rmse,5380.38,4828.76,15-05-2023_03-10-00
8,linex,NEG_16_20,linex,2026.90,1422.60,14-05-2023_19-50-10
9,linex,NEG_16_20,linex,2121.27,1422.60,14-05-2023_19-50-10
20,linlin,NEG_16_20,linlin,412.57,1422.60,14-05-2023_12-45-51
21,linlin,NEG_16_20,linlin,2163.30,1422.60,14-05-2023_12-45-51
32,rmse,NEG_16_20,rmse,1779.28,1422.60,15-05-2023_10-44-05
42,w_rmse,NEG_16_20,w_rmse,1760.94,1422.60,15-05-2023_03-10-00
43,w_rmse,NEG_16_20,w_rmse,1967.50,1422.60,15-05-2023_03-10-00
10,linex,NEG_20_24,linex,600.21,427.87,14-05-2023_19-50-10
11,linex,NEG_20_24,linex,527.87,427.87,14-05-2023_19-50-10
22,linlin,NEG_20_24,linlin,82.64,427.87,14-05-2023_12-45-51
23,linlin,NEG_20_24,linlin,581.42,427.87,14-05-2023_12-45-51
33,rmse,NEG_20_24,rmse,479.55,427.87,15-05-2023_10-44-05
34,rmse,NEG_20_24,rmse,486.90,427.87,15-05-2023_10-44-05
44,w_rmse,NEG_20_24,w_rmse,483.10,427.87,15-05-2023_03-10-00
45,w_rmse,NEG_20_24,w_rmse,594.74,427.87,15-05-2023_03-10-00